div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}
article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    text-align: center;
}
img {
    align-content: center;
}
article {
    text-align: center;
    color: black;
    background-color: khaki;
}
div.article {
    widows: 75px;
    border: 2px solid gray;
    border-style: groove;
}
h1 {
    text-align: center;
    text-shadow: dodgerblue;
    border-style: double;
}